@{
	Layout = "_LayoutBoxTrainer";
}

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<div class="header-title">
					<h4 class="card-title">List Project</h4>
				</div>
			</div>
			<div class="card-body">				
				<div class="table-responsive">
					<!-- Tabel Master Project -->
					<table id="tableMProject" class="table table-striped" style="width:100%">
						<thead class="table-info">
							<tr>
								<th>Status</th>
								<th>Action</th>
								<th>Details</th>
								<th>Project Title</th>
								<th>Description</th>
								<th>NIK</th>
								<th>Name</th>
								<th>Email</th>
								<th>Class</th>
								<th>Batch</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal element -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Image from API</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modal-body">
				<img id="modal-body-image" src="" alt="Image">
			</div>
		</div>
	</div>
</div>
