@{
    ViewData["Title"] = "Home Page";
}

<form id="upload-form" enctype="multipart/form-data">
    <input type="file" id="image-file" name="image-file" accept="image/*">
    <button type="submit">Upload</button>
</form>
